@import url('https://fonts.googleapis.com/css?family=muli&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'muli' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: burlywood;
}

.container{
    background-color: white;
    max-width: 640px;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 10px;
}

h3{
    opacity: 0.6;
    letter-spacing: 2px;
    font-family: inherit;
}

.jokes{
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    padding: 15px 30px;
    border: 0;
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.97);
}