@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: wheat;
    color: #fff;
    font-family: 'muli' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2{
    text-align: center;
}

.container{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: rgb(174, 140, 79);

}

.form_input{
    position: relative;
    margin: 20px 0 40px;
}

.form_input input{
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
}

.container a{
    text-decoration: none;
}

.text{
    font-size: smaller;
    text-align: center;
    margin-top: 30px;
}

.form_input input:focus,
.form_input input:valid {
    outline: 0;
    border-bottom-color: wheat;
}

.btn{
    padding: 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: rgb(174, 140, 79);
    cursor: pointer;
    font-size: larger;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.form_input label{
    position: absolute;
    top: 10px;
    left: 0;
}

.form_input label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition:0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form_input input:focus + label span,
.form_input input:focus + label span{
    color: wheat;
    transform: translateY(35px);
}
