@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}

:root {
    --fill: blue;
    --empty: grey;
  }

body{
    background-color: wheat;
    font-family: 'muli' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 500px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before{
        content: '';
        background-color: var(--empty);
        height: 3px;
        width:100%;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;   
    
}

.progress{
    background-color: var(--fill);
    height: 3px;
    width: 0%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;

}
.circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
   align-items: center;
   justify-content: center;
   display: flex;
   border: 1px solid var(--empty);
   transition: 0.4s ease;
}

.circle.active{
    border: 1px solid var(--fill);
}

.btn{
    font-family: inherit;
    border: 0;
    color: white;
    background-color: var(--fill);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 5px;
    font-size: 14px;
   
}

.btn:active{
transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--empty);
    cursor: not-allowed;
}